<!DOCTYPE html>
<html lang="en">

<head>
    <title>YM2149</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />    
    <link rel="stylesheet" href="{{ site.baseurl }}/css/bulma.css" type="text/css">

    <style>
      /* compensate for fixed navibar */
      body {
          padding-top: 50px;
      }
    </style>
    <script type="text/javascript" src="{{ site.baseurl }}/js/jquery1.11.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.details.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/scriptprocessor_player.min.js"></script>
    
    <script>window.openDetails=false;</script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/mini_display.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/mini_controls.js"></script>

    <script type="text/javascript" src="{{ site.baseurl }}/js/backend_vgm.js"></script>    

    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
    <!-- Firebase App is always required and must be first -->
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-app.js"></script>    
    <!-- Add additional services that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-messaging.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-functions.js"></script>

    <script type="text/javascript" src="{{ site.baseurl }}/js/app.js"></script> 
    <script>
      var songs = [
          // add your music files here, e.g.:
          {% for vgm in site.data.content.content %}
            '{{ vgm.url }}',            
          {% endfor %}
      ];

      var site_baseurl = '{{ site.baseurl }}';
    </script>
</head>

<body>
    <nav class="navbar is-fixed-top is-danger" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/img/ym2149.png" width="112" height="28">
          </a>



                      <div id="spectrum" >
                        <div id="moz-reflect-spectrum"><canvas id="spectrumCanvas" width="800" height="40"></canvas></div>
                      </div>   
                      <div class="navbar-item">       

                      </div>

          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      <!--
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item">
              Home
            </a>
      
            <a class="navbar-item">
              Documentation
            </a>
      
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                More
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  About
                </a>
                <a class="navbar-item">
                  Jobs
                </a>
                <a class="navbar-item">
                  Contact
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Report an issue
                </a>
              </div>
            </div>
          </div>
        -->
          <div class="navbar-end">




<!--

            
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light" onclick="myLogin()">
                  Log in
                </a>
              </div>
            </div>
        -->

          </div>

        </div>
      </nav>


      <section class="section">

          <div class="container">

            <div class="columns">
              <div class="column is-full">
                <div class="card">
                  <div class="card-content">
                    <nav class="breadcrumb" aria-label="breadcrumbs">
                      <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">VGM</a></li>
                        <li class="is-active"><a href="#" aria-current="page">Demo Tunes</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
              <!-- columns -->
            </div>
        
            <div class="columns">
              <div class="column is-full">
                <div class="card">
                  <div class="card-content">

                    <div class="media-content">
                      <div class="columns">

                        <div class="column">

                    <p id="vgmTitle" class="title is-3"></p>
                    <p id="vgmArtist" class="subtitle is-5"></p>
                    <p id="vgmTime" class="subtitle is-6"></p>

                    </div>

                    <div class="column">
                      <span id="controls"></span>
                      </div>



                      </div>
                  </div>

                  </div>
                </div>
              </div>
              <!-- columns -->
            </div>
            
            <div class="columns">
              <div class="column is-full">


                  <div class="card">

                  <table class="table is-striped is-hoverable is-fullwidth">
                    <thead>
                      <tr>
                        <th>Control</th>
                        <th>Length</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Likes</th>
                        <th>Tags</th>
                        <th>File</th>
                        <th>Plays</th>
                      </tr>
                    </thead>
                    <tbody>


                      {% for vgm in site.data.content.content %}
                        <tr id="{{ vgm.url }}">
                          <td>  <button class="button is-info is-rounded " onclick="myPlaySong('{{ vgm.url }}')"><strong id="{{ vgm.url }}/playButton" class="fa fa-play"></strong></a></button>    </td>  
                          <td>{{ vgm.length }}</td>
                          <td>{{ vgm.title }}</td>
                          <td>{{ vgm.artist }}</td>

                          <td>
                              <a id="{{ vgm.db_id }}/likeStatus" class="button is-outlined is-dark is-rounded is-small" onclick="dbLike('{{ vgm.url }}')">
                                  <span class="icon is-small">
                                    <i class="fa fa-heart"></i>
                                  </span>
                                  <span><strong><div id="{{ vgm.db_id }}/likeCount"></div></strong></span>
                                </a>                         
                          </td>
                          <td>
                    <div class="tags are-normal">
                      <span class="tag is-rounded is-dark">{{ vgm.chip }}</span>
                      <span class="tag is-rounded is-dark">{{ vgm.clock }}</span>
                      <span class="tag is-rounded is-dark">{{ vgm.rate }}</span>
                    </div></td>
                        <td>
                        
                          <p class="control">
                            <a class="button is-info" href="{{ site.baseurl }}{{ vgm.url }}">
                              <strong class="fa fa-download"></strong>
                            </a>
                          </p>
                        </td>
                        <td><div id="{{ vgm.db_id }}/playCount"></div></td>
                      </tr>

                    {% endfor %}    
                    </tbody>
                  </table>


                  </div>

                  <!-- container -->
              </div> 
              <!-- columns -->
            </div>

            <div class="columns">            
              <div class="column is-full">
                <div class="card">
                  <div class="card-content">



                    <div class="card-content">
                      <div id="drop" class="drop"><img src="{{ site.baseurl }}/img/chip.png" width=270 height=270/><p>Or drop VGMs onto the Chip to listen!</p></div><!--see BasicPlayerControls-->            
                    </div>

                    <div id="logo">
                        <!-- in new Chrome the SHIT reflections disapear dependig on the canvas height.. what a fucking joke -->
                        <div id="moz-reflect-logo"><canvas  id="logoCanvas"  width="220" height="100"></canvas></div>	
                    </div>

                  </div>
                </div>
              </div>              

          <!-- columns -->
            </div>


          <!-- container -->
          </div>


      </section>

      <footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>YM2149 Music Converted to SN76489</strong> by <a href="https://github.com/simondotm">Simon Morris</a>. The <a href="https://github.com/simondotm/ym2149f">source code</a> is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. 
      Credits to Juergen Wothke for the fantastic <a href="https://github.com/wothke/vgmplay-0.40.6">Web VGM Player</a>
    </p>
    <p>
      <a class="button" href="https://twitter.com/simondotm">
        <span class="icon is-small">
          <i class="fa fa-twitter"></i>
        </span>
      </a>
      <a class="button" href="https://www.facebook.com/bitshiftrs/">
        <span class="icon is-small">
          <i class="fa fa-facebook"></i>
        </span>
      </a>
      <a class="button" href="https://github.com/simondotm/ym2149f">
        <span class="icon is-small">
          <i class="fa fa-github"></i>
        </span>
      </a>      
      <script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Buy me a Coffee!', '#4685b8', 'F1F3NWI1');kofiwidget2.draw();</script> 

    </p>
  </div>
</footer>      
</body>
</html>